.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}
.title {
  text-align: center;
  font-size: 4em;
  margin: 50px 0;
   color: #ff7f00;
}
.form-inline{
  width: 100%;
  display: flex;
  justify-content: center;
}
mat-form-field{
  width: 100%;
  max-width: 400px;
}
p.subtitle {
  font-style: italic;
}
