<h1>Recipes to you!</h1>


<div *ngFor="let recipe of dataSource.filteredData">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>{{recipe.label}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Calories: {{recipe.calories}}</p>
      <p>Ingredients:</p>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredientLines">{{ingredient}}</li>
      </ul>
      <img [src]="recipe.image" alt="{{recipe.label}}" />
    </mat-card-content>
  </mat-card>
</div>
